@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  
  --main-transition: .3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base) !important;
}

a {
  text-decoration: none !important;
}
ul {
  display: flex;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
::selection {
  background-color: var(--color-golden);
  color: var(--color-black);
}
